@import '../../styles/settings.scss';

.notFound {

  &__title {
    text-align: center;
    color: $color-light;
    font-size: calc($base-size * 2);
    text-transform: uppercase;
  }

  &__content {
    color: $color-light;
  }
}