@import '../../styles/settings.scss';

.nav {
  width: 100%;
  min-height: calc($base-size * 3);

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }

  &__menu a {
    text-decoration: none;
    color: $color-light;
    font-weight: 700;
    padding: $base-size;
  }

  &__menu a:hover {
    color: $color-success;
  }

  a.linkActive {
    color: $color-warning;
  }
}



.icon {
  padding: $base-size;
}